PORT=2785
API_MASTER_KEY=owa_k1_b6e2f42630ded3c45ea5438417bec7576b5b25e950e21ea145f4eb089e2076a7
LOG_LEVEL=info
NODE_ID=openwa-main-node
WWEBJS_WEB_VERSION=off
WWEBJS_AUTH_TIMEOUT_MS=120000
PUPPETEER_ARGS=--no-sandbox,--disable-setuid-sandbox,--disable-dev-shm-usage,--disable-gpu
