PORT=2785
API_MASTER_KEY=CHANGE_ME_TO_YOUR_OWN_SECRET_KEY
LOG_LEVEL=info
NODE_ID=openwa-main-node
WWEBJS_WEB_VERSION=off
WWEBJS_AUTH_TIMEOUT_MS=120000
PUPPETEER_ARGS=--no-sandbox,--disable-setuid-sandbox,--disable-dev-shm-usage,--disable-gpu
